@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "ListarUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <h2 class="text-black-50">Lista de usuarios</h2>
</div>

@if (Model.Any())
{
    <a asp-action="Registro" asp-controller="Cuenta" class="btn btn-primary mb-3" style="width:auto">Nuevo usuario</a>

    @foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User ID: @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="BorrarUsuario" asp-route-id="@user.Id">
                    <a asp-action="EditarUsuario" asp-controller="Rol" asp-route-id="@user.Id" class="btn btn-primary">Editar</a>
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Seguro que desea eliminar el usuario: @user.UserName')">Eliminar</button>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Todavia no hay usuarios
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use el botón para crear un usuario
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Cuenta" asp-action="Registro">Nuevo usuario</a>
        </div>
    </div>
}

@section Scripts{
    <script language="javascript" type="text/javascript">
        function confirmBorrar(Id, seHizoClick) {
            var confirmBorrar = 'BorrarSpan_' + Id;
            var confirmBorrarSpan = 'confirmarBorrarSpan_' + Id;

            if (seHizoClick) {
                $('#' + confirmBorrar).hide();
                $('#' + confirmBorrarSpan).show();
            } else {
                $('#' + confirmBorrar).show();
                $('#' + confirmBorrarSpan).hide();
            }
        }
    </script>
}

